<div class="ui container grid" ng-init="vm.init()">
	<!-- left -->
  <div class="three wide column">
  	<h4 class="ui block header teal fluid">
      <p>
        <i class="list layout icon"></i>หมวดหมู่สินค้า
      </p>
    </h4>
    <div class="ui vertical menu fluid">
      <a class="teal item" ng-repeat="list in vm.categorys">
        {{ list.product_category_name }}
        <div class="ui teal left pointing label">5</div>
      </a>
    </div>
  </div>
  <!-- center -->
  <div class="ten wide column">
  	<div class="ui pointing menu">
      <a class="item active">
        สินค้าแนะนำ
      </a>
      <a class="item">
        ได้รับสินค้าทันที
      </a>
      <a class="item ">
        สินค้าลดราคา
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
        <div class="item">
          <button class="ui button icon blue">
          	<i class="setting icon"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="ui three cards">
      <div class="card" ng-repeat="list in vm.products | limitTo:50" >
        <div class="image">
          <img ng-src="{{ list.img }}">
        </div>
        <div class="content">
		      <div class="header">
		      	{{ list.name }}
		      </div>
		    </div>
		    <div class="extra content">
		    	<span class="left floated">
			      <i class="money icon"></i>
			      ราคา
			    </span>
			    <span class="right floated">
            {{ list.price | number:2 }}
			    </span>
		    </div>
		    <div class="extra content">
		    	<span class="left floated">
			      <i class="money icon"></i>
			      True Money
			    </span>
			    <span class="right floated">
            {{ list.price | number:2 }}
			    </span>
		    </div>
		    <div class="extra content">
		      <button class="fluid ui button teal " ng-click="vm.goView(list.pid)">
          	<i class="unhide icon"></i> View
        	</button>
		    </div>
      </div>
    </div>
  </div>
  <!-- right -->
  <div class="three wide column">
    <div class="ui fluid">
		  <div class="card ui fluid" ng-repeat="list in vm.products | orderBy : 'countSell' | limitTo:10 " title="{{ list.name }}" data-ng-click="vm.goView(list.pid)">
		    <div class="image">
		    	<div class="ui red right ribbon label">
		        <i class="thumbs up icon"></i> ขายดี
		      </div>
		      <img ng-src="{{ list.img }}">
		    </div>
		    <div class="extra ui one column centered grid">
		      <div class="ui star huge rating" data-rating="5"></div>
		    </div>
		  </div>
		</div>
  </div>

</div>
<script>
	$('.ui.rating').rating({maxRating: 5})
</script>